.wrapper {
    padding: 60px;
}

.link {
    font-size: 24px !important;
    color: var(--mantine-color-gray-1) !important;
    font-weight: 600 !important;

    &:hover {
        text-decoration: none !important;
    }
}

